.ques_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border : 2px solid black;
    background-color: black;
    border-radius: 15px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    margin-right: 2%;
}

.buttons button {
    height : 40px;
    margin : 0;
    background-color: transparent;
    outline: none;
    color: white;
    border: 0;
    
}

.question {
    height : 40px;
    align-content: center;
    margin : 0;
    margin-left: 2%;
    color: white;
}