* {
    box-sizing: border-box;
}
/* body */
body {
    width:50%;
    margin:auto;
    margin-top: 10px;
    border:2px solid black;
    border-radius: 20px;
}

/* header */
header {
    text-align: center;
}

/* main */
main {
    position: relative;
}

.line {
    position:absolute;
    border:2px solid black;
    top : 0;
    bottom : 0;
    left : 30%;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
} 

.content {
    display: grid;
    grid-template-columns: 28% 4% 68%;
    align-items: center; 
}

/* main -- section */
.dates {
    grid-column: 1;
    text-align: right;
    padding-right: 10%;
} 

.dot-container {
    grid-column: 2;
    text-align: center;
    font-size: 200%;
}

.process {
    grid-column: 3;
    text-align: left;
    padding-left: 10%;
} 