.form {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 3%;
}

.form input {
    width : 100%;
    border: 2px solid black;
    height : 40px;
}

.form button {
    width : 12%;
    background-color: black;
    color: white;
}

.form_container {
    margin-bottom: 5%;
}

